In [1]:
%pip install xgboost

Requirement already satisfied: xgboost in /opt/anaconda3/lib/python3.12/site-packages (3.1.1)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.12/site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in /opt/anaconda3/lib/python3.12/site-packages (from xgboost) (1.13.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import xgboost as xgb
import pandas as pd

train = pd.read_csv("./data/Training_TriGuard.csv")
test = pd.read_csv("./data/Testing_TriGuard.csv")

X_train = train.drop("subrogation", axis=1)
y_train = train["subrogation"]

X_test = test

from xgboost import XGBClassifier

In [ ]:
train.head()

,claim_number,year_of_born,gender,email_or_tel_available,safety_rating,annual_income,high_education_ind,address_change_ind,living_status,zip_code,...,claim_est_payout,vehicle_made_year,vehicle_category,vehicle_price,vehicle_color,vehicle_weight,age_of_DL,accident_type,in_network_bodyshop,vehicle_mileage
0,3126034,1987,M,0,68,30015,1,0,Own,85036,...,1373.91,2024,Compact,15000.00000,red,10960.930390,25,single_car,yes,86496
1,7380142,1987,M,1,78,30015,1,0,Rent,20148,...,733.19,2026,Compact,26970.21435,other,13006.313970,22,multi_vehicle_clear,yes,71936
2,4655051,1978,M,1,72,52206,0,1,Rent,20135,...,5885.44,2026,Large,78773.76660,white,10541.156550,24,single_car,yes,84984
3,6728725,1978,M,0,67,52292,0,1,Own,80015,...,860.31,2022,Compact,86166.37419,blue,2733.726122,21,multi_vehicle_clear,yes,51583
4,9848460,1996,M,1,81,41140,0,1,Own,85024,...,4589.91,2024,Medium,15000.00000,gray,18357.025300,18,multi_vehicle_clear,no,108488

In [7]:
test.head()

,claim_number,year_of_born,gender,email_or_tel_available,safety_rating,annual_income,high_education_ind,address_change_ind,living_status,zip_code,...,claim_est_payout,vehicle_made_year,vehicle_category,vehicle_price,vehicle_color,vehicle_weight,age_of_DL,accident_type,in_network_bodyshop,vehicle_mileage
0,3126034,1987,M,0,68,30015,1,0,Own,85036,...,1373.91,2024,Compact,15000.00000,red,10960.930390,25,single_car,yes,86496
1,7380142,1987,M,1,78,30015,1,0,Rent,20148,...,733.19,2026,Compact,26970.21435,other,13006.313970,22,multi_vehicle_clear,yes,71936
2,4655051,1978,M,1,72,52206,0,1,Rent,20135,...,5885.44,2026,Large,78773.76660,white,10541.156550,24,single_car,yes,84984
3,6728725,1978,M,0,67,52292,0,1,Own,80015,...,860.31,2022,Compact,86166.37419,blue,2733.726122,21,multi_vehicle_clear,yes,51583
4,9848460,1996,M,1,81,41140,0,1,Own,85024,...,4589.91,2024,Medium,15000.00000,gray,18357.025300,18,multi_vehicle_clear,no,108488

In [3]:
import os
print(os.getcwd())  # 当前工作目录
print(os.listdir()) # 当前目录下的文件

/Users/gracewu/Desktop/model-citizens
['.DS_Store', 'travelers.ipynb', '.git', 'data']